#!/usr/bin/env bash

# This uses ssh to connect to the remote server.
# Putting your pub key into remote's `authorized_keys` will make it even funnier.

user="<%= user %>"
host="<%= host %>"
port="<%= port %>"

cmd="ssh -p $port $user@$host"
$cmd
